<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <system.web>
    <compilation debug="true" optimizeCompilations="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace ="System.IO" />
        <add namespace="System.Text"/>
        <add namespace="WeMosDef"/>
      </namespaces>

    </pages>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicServiceBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49153/upnp/control/basicevent1"
          binding="basicHttpBinding" bindingConfiguration="BasicServiceBinding"
          contract="ServiceReference1.BasicServicePortType" name="BasicServicePort" />
    </client>
  </system.serviceModel>

</configuration>
